@model Team_Plus_Automotive_Telemetry_API.Models.Data.Fetch.FetchDataResponse

@{
    ViewData["Title"] = "Dashboard";
}
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 20px;
    }

    table {
        width: 100%; /* Full width */
        border-collapse: collapse; /* Merge borders */
        margin-top: 20px;
    }

    th, td {
        border: 2px solid #4CAF50; /* Set border width and color */
        padding: 10px; /* Padding for cells */
        text-align: left; /* Align text to the left */
    }

    th {
        background-color: #4CAF50; /* Header background color */
        color: white; /* Header text color */
    }

    tr:nth-child(even) {
        background-color: #f2f2f2; /* Light grey for even rows */
    }

    tr:hover {
        background-color: #ddd; /* Highlight row on hover */
    }

</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title> <!-- Add title for the page -->
</head>
<body>
    <div>
        <h3>Stats</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Property</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Server timestamp (in ms)</td>
                    <td>@Model.Stats.Tick</td>
                </tr>
                <tr>
                    <td>Device timestamp (in ms)</td>
                    <td>@Model.Stats.DevTick</td>
                </tr>
                <tr>
                    <td>Trip/session runtime</td>
                    <td>@Model.Stats.Elapsed</td>
                </tr>
                <tr>
                    <td>Trip Ended</td>
                    <td>@(Model.Stats.Parked == 1 ? "No" : "Yes")</td>
                </tr>
                <tr>
                    <td>Time (in ms) elapsed since last data transmission</td>
                    <td>@Model.Stats.Age?.Data</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        <h3>Data</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>PID</th>
                    <th>Value</th>
                    <th>Age</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var row in Model.Data)
                {
                    <tr>
                        @foreach (var cell in row)
                        {
                            <td>@cell</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
